<body>
    <div id="center" class="bootstrap-wrapper">
      <img src="assets/cliparts/logo.jpeg" alt="Logo" width="25%" height="10%">
      <h1>WELCOME TO W-TECH CONNECT</h1>
      <a mat-raised-button [routerLink]="['login']" routerLinkActive="active"  color="accent"><mat-icon>login</mat-icon>LOGIN</a><br> <br><strong>/</strong><br> <br>
      <a mat-raised-button [routerLink]="['register']" routerLinkActive="active"  color="accent"><mat-icon>person-add</mat-icon>Register!!</a>
    </div>
  </body>