.example-spacer {
    flex: 1 1 auto;
    padding-right: 3%;
  }
  
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  #main{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #industry,#location,#skill{
    width: 30%;
  }
  