/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script');
*{

  font-family: 'Oleo Script', cursive;
}
body { font-family: 'Oleo Script', cursive; }

.custom-modalbox {
  padding: 0;
  margin-left: 80%;
  width: 100%;
  text-align: center;
}