<div id="main">
    <div *ngFor="let u of users">
      <table>
        <tr style="color: aqua;">
          <td><u>Name:</u></td>
          <td><u>Email:</u></td>
          <td><u>Contact No:</u></td>
          <td><u>Followings:</u></td>
          <td><u>View</u></td>
        </tr>
        <tr style="color: white;">
          <td>{{u['name']}}</td>
          <td>{{u['email']}}</td>
          <td>{{u['contactNo']}}</td>
          <td><button mat-button color="white" type="submit" (click)="viewFollowings(u['userId'])"><mat-icon>groups</mat-icon></button>
          </td>
          <td><button mat-button color="white" type="submit" (click)="viewDetail(u['userId'])"><mat-icon>info</mat-icon></button>
          </td>
        </tr>
      </table><br>
    </div>
  </div>