<body>
    <div class="bootstrap-wrapper"  id="main">
      <div fxLayoutAlign="center center">
      <mat-card fxLayout="row inline">
      <div id="loginBox">
        <h2>Welcome to W-Tech Connect.</h2>
        <p style="color:aqua">Please login to your account!!</p>
        <form class="login-form" (ngSubmit)="loginUser()">
        <table id="logintable">
        <tr>Email:</tr>
        <tr>
        <mat-form-field appearance="fill">
            <input [(ngModel)]="logindata.email" matInput  required type="email" name="email" id="email" placeholder="Enter email">
        </mat-form-field>
      </tr>
      <tr>Password:</tr>
      <tr>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="logindata.password" matInput required [type]="hide ? 'password' : 'text'" name="pass" id="password" placeholder="Enter password">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field></tr>
        <a mat-button [routerLink]="['../forgotPassword']" routerLinkActive="active"  color="warn">Forgot your password!!</a>
        <tr>
        <button mat-raised-button color="primary" type="submit"><mat-icon>login</mat-icon>Login</button>
        <!-- <input id="loginButton" type="submit" value="Login :)" class="btn btn-primary" style="width: 25%;"> -->
        </tr>
        <tr>Want to register instead??<a mat-button [routerLink]="['../register']" routerLinkActive="active"  color="accent"><mat-icon>person-add</mat-icon>Register!!</a>
      </tr>
      </table>
      </form>
      </div><div id="imagetag">
          <h4 style="padding-left: 2%;">One place to connect to all Women in tech.</h4>
          <img src="assets/cliparts/login1.png" alt="Logo" width="100%" height="70%">
        </div>
      </mat-card>
    </div>
    </div>
  </body>
  