<mat-card>
    <h4>Create a Post!!</h4>
    <div id="form">
    <form #postForm="ngForm" (ngSubmit)="addPost()">
      <table>
        <tr>Title:</tr>
        <tr>
          <mat-form-field>
            <input matInput placeholder="Title" id="inp" name="title" [(ngModel)]="post.title" required>
          </mat-form-field>
        </tr>
        <tr>Description:</tr>
        <tr>
            <mat-form-field>
              <input matInput placeholder="Description" id="inp" name="desc" [(ngModel)]="post.desc" required>
            </mat-form-field>
        </tr>
        <tr>
          <button mat-raised-button type="submit" style="background-color:#E1BEE7; border-color: #E1BEE7; margin-left: 35%;">Submit</button>
        </tr>
      </table>
    </form>
  </div>
  </mat-card>