<mat-toolbar style="background-color: #E1BEE7;">
    <img src="assets/cliparts/logo1.jpg" alt="Logo" height="100%" style="padding-right: 3%;">
    <span>WTech-Connect</span>
    <span class="example-spacer"></span>
    <div>
      <button mat-button (click)="manage()"><mat-icon>manage_accounts</mat-icon>Manage</button>
      <button mat-button (click)="search()"><mat-icon>person_search</mat-icon>Search</button>
      <button mat-button (click)="updates()"><mat-icon>notifications</mat-icon>Updates</button>
      <button mat-button (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
    </div>
  </mat-toolbar>